*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.logo img
{
    width: 25px;
    height: 25px;
}
.quienesSomos
{
    margin-top: 50px;
}
.logoQuienesSomos img
{
    margin-top: 50px;
    width: 100px;
    height: 100px;
}
.textoQuienesSomos h3
{
    padding: 10px;
}
.banner
{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    text-align: left;
    /* background-image:url("../img/foto360_cactus.jpeg");
    background-attachment: fixed; */
    background: left fixed url("../img/foto360_cactus.jpeg");
}
.bannerDescripcion
{
    width: 90%;
    max-width: 1000px;
    display: block;
    margin: auto;
    color: black;
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{text-align: center;}
h3{text-align: center;}

.containerServicios
{
    display: grid;
    gap: 10px;
    background-color: #fff;
    color:#000;
    grid-template-columns: 1fr 1fr 0.3fr 1fr;
    grid-template-rows:1fr 0.2fr 1fr 1fr 1fr; 
    text-align: center;
    justify-content: center;
    align-content: center;
}
.box0
{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #005cab;
    grid-column: 1/5;
}
.box1
{
    margin-top: 10px;
    margin-bottom: 10px;
    grid-column: 1/5;
    align-content: center;
}
.box2 img 
{  width: 100px; 
   height: 100px;
   padding: 10px;
   align-items: center; 
   border-radius: 5px;
}
.box3
{ padding: 10px;}

.box4 img
{
   width: 100px; 
   height: 100px;
   padding: 10px;
} 
.box5
{ 
    padding: 10px;
    margin-right: 15px;
}

.box6 img
{
   width: 100px; 
   height: 100px;
   padding: 10px;
}
.box7
{padding: 10px;}

.box8 img
{
   width: 100px; 
   height: 100px;
   padding: 10px;
}
.box9
{
  padding: 10px;
  margin-right: 15px;
}
.box10
{
    background-color: #f7f7f7;
    grid-column: 1/5;
}
.box10 h2
{
    margin-top: 55px;
}
.formulario
{
   padding: 40px;
}
.containerGaleria
{
    display: grid;
    gap: 5px;
    height:850px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows:1fr 1fr 1fr 1fr; 
    /* background-color: antiquewhite; */
    justify-content: center;
}
.caja
{
  /* background-color: red; */
  text-align: center;
}
.caja1 img
{
    margin-top: 50px; 
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.caja2 img
{
    margin-top: 50px; 
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.caja3 img
{
    margin-top: 50px;
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.caja4
{
  margin-top: 50px; 
  width: 300px;
  height: 250px;
  grid-column: 4;
  grid-row: 1 / span 2;   
}
.caja5
{
  width: 300px;
  height: 250px;
  grid-column: 1;
  grid-row: 2 / span 2;   
}
.caja6 img
{
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.caja7 img
{
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.caja8 img
{
    /* margin-top: 5px; */
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.caja9 img
{
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.caja10 p
{
    /* margin-top: 20px; */
    width: 300px;
    height: 250px;
}
/*.caja2
{
    width: 300px;
    height: 250px;
    margin-top: 15px;
    background-color: rebeccapurple;
}
.caja3
{
    width: 300px;
    height: 250px;
    margin-top: 15px;
    background-color: blue;
}
.caja4
{
    width: 300px;
    height: 250px;
    margin-top: 15px;
    background-color: cornflowerblue;
} */
.contacto
{
    background-color: yellow;
}

/*MOBILE*/
@media screen and (max-width: 480px) {
    .logoQuienesSomos{
        display: none;
    }
}
/*TABLET*/
@media screen and (max-width: 768px) {
   .quienesSomos
   {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   }
   .logoQuienesSomos
   {
    margin-top: 5px;
    text-align: center;
   }
   .textoQuienesSomos
   {
    margin-top: 10px;
   }
  }