*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
@font-face {
    font-family:'Lato';
    src: url(/font/Lato/Lato-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family:'LatoItalic';
    src: url(/font/Lato/Lato-LightItalic.ttf);
    font-style: italic;
}
.logo img
{
    width: 25px;
    height: 25px;
}
.menu li a:hover
{
    color: #e8581c;
}
/* {
    margin-top:50px;
} */
.quienesSomos h1
{
  font-family: 'Lato';
  font-style: normal;
}
h2
{
  font-family: 'Lato';
  font-style: normal;
}
h3
{
  font-family: 'LatoItalic';
  font-style: Light 300 Italic;
}
.quienesSomos
{
    /* display: flex;
    flex-direction: column; */
    height: 450px;
}
.filaQuienesSomos
{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.logoQuienesSomos img
{
    margin-top: 50px;
    width: 100px;
    height: 100px;
}
.textoQuienesSomos
{
    display: inline;
}
.textoQuienesSomos h3
{
    padding: 10px;
}
.banner
{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    text-align: left;
    /* background-image:url("../img/foto360_cactus.jpeg");
    background-attachment: fixed; */
    background: left fixed url("../img/foto360_cactus.jpeg");
}
.bannerDescripcion
{
    /* background-color: #e8581c; */
    background-color: #005cab;
    padding: 15px;
    /* width: 90%; */
    max-width: 1000px;
    display: block;
    margin: left;
    color: #fff;
    border-radius: 5px;
    opacity: 0.8;
}
.bannerDescripcion h2
{
    font-family: 'Lato';
    font-weight: Light 300;
}

h1{text-align: center;}
h3{text-align: center;}

.containerServicios
{
    display: grid;
    gap: 10px;
    background-color: #fff;
    color:#000;
    grid-template-columns: 1fr 1fr 0.3fr 1fr;
    grid-template-rows:1fr 0.2fr 1fr 1fr 1fr; 
    text-align: center;
    justify-content: center;
    align-content: center;
}
.box0
{   display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 300px;
    /* margin-top: 40px;
    margin-bottom: 40px; */
    background-color: #005cab;
    grid-column: 1/5;
}
.icono
{
    align-content: space-between;
    margin-top: 35px;
    width: 120px;
    height: 120px;
    padding: 15px;
    color: #fff;
    
}

.box1
{
    margin-top: 10px;
    margin-bottom: 10px;
    grid-column: 1/5;
    align-content: center;
}
.box2 img 
{  width: 100px; 
   height: 100px;
   padding: 10px;
   align-items: center; 
   border-radius: 5px;
}
.box3
{ padding: 10px;}

.box4 img
{
   width: 100px; 
   height: 100px;
   padding: 10px;
} 
.box5
{ 
    padding: 10px;
    margin-right: 15px;
}

.box6 img
{
   width: 100px; 
   height: 100px;
   padding: 10px;
}
.box7
{padding: 10px;}

.box8 img
{
   width: 100px; 
   height: 100px;
   padding: 10px;
}
.box9
{
  padding: 10px;
  margin-right: 15px;
}
.box10
{
    background-color: #f7f7f7;
    grid-column: 1/5;
}
.box10 h2
{
    margin-top: 55px;
}
.box10 .formulario button:hover
{
    background-color: #e8581c;
}
.formulario
{
   padding: 40px;
}
.containerGaleria
{
    display: grid;
    gap: 5px;
    height:850px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows:1fr 1fr 1fr 1fr; 
    /* background-color: antiquewhite; */
    justify-content: center;
}
.caja
{
  /* background-color: red; */
  text-align: center;
}
.caja1 img
{
    margin-top: 50px; 
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.caja2 img
{
    margin-top: 50px; 
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.caja3 img
{
    margin-top: 50px;
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.caja4
{
  margin-top: 50px; 
  width: 300px;
  height: 250px;
  grid-column: 4;
  grid-row: 1 / span 2;   
}
.caja5
{
  width: 300px;
  height: 250px;
  grid-column: 1;
  grid-row: 2 / span 2;   
}
.caja6 img
{
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.caja7 img
{
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.caja8 img
{
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.caja9 img
{
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.caja10 p
{
    width: 300px;
    height: 250px;
}

.contacto
{
    background-color: #2b3035;
    height: 385px;
    padding: 15px;
}
.contacto h2
{
    color: #f7f7f7;
    text-align: center;
}
.formContacto button
{
    display: flex;
    justify-content: center;   
}

.formContacto button:hover
{
    background-color: #e8581c;
}

.redesSociales h5
{
    text-align: center;
    color: #f7f7f7;
    padding: 5px;
}

.iconosRedes
{
  text-align: center;
}
.iconosRedes img
{  width: 25px;
   height: 25px;
}
.derechosReservados
{
    color: #f7f7f7;
    text-align: center;
    padding: 15px;
}

/*MOBILE*/
@media screen and (max-width: 480px) {
    .logoQuienesSomos{
        display: none;
    }
}
/*TABLET*/
@media screen and (max-width: 768px) {
   .quienesSomos
   {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   }
   .logoQuienesSomos
   {
    margin-top: 5px;
    text-align: center;
   }
   .textoQuienesSomos
   {
    margin-top: 10px;
   }
  }